<div class="row">
    <div class="col-sm-4">
        <h3>{{ title }}</h3>
        <hr>
        <div ng-repeat="word in wordList">
            {{ word }}
        </div>
    </div>
    <div class="col-sm-8">
        <table class="table borderless">
            <tbody>
                <tr ng-repeat="row in grid track by $index">
                    <td class="text-center" ng-repeat="cell in row track by $index">
                        {{ cell }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>